<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Confirm your order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You will receive an email with all the details after confirming your order.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Go back to your orders</button>
        <!-- <button type="button" class="btn btn-primary"> -->
          <%= link_to 'Confirm order', order_confirm_path(order), method: :patch, class: 'btn btn-dark' %>
          <!-- <%= link_to 'Go to home page', root_path, class: "btn btn-primary" %> -->

          <!-- </button> -->
      </div>
    </div>
  </div>
</div>
