<%= render 'components/banner' %>
<div class="container my-3">
  <h1>Welcome to Catapult</h1>
  <p>Find & share art locally.</p>
  <div class="container d-flex justify-content-center">
    <div class="card m-3 p-3 w-25">Share</div>
    <div class="card m-3 p-3 w-25">Find</div>
    <div class="card m-3 p-3 w-25">Connect</div>
  </div>
</div>
<%= render 'components/carousel' %>
<div class="d-flex justify-content-center align-items-center">
  <div class="flex-shrink m-3"><h3>Find artists near you</h3></div>
  <div
    id="map"
    style="width: 60%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    class="my-3 flex-grow"
  ></div>
</div>
