<div class="container">
<div class="card m-3" >
  <div class="d-flex m-2 justify-content-md-around align-top around">
    <div class ="p-3">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, width:150, height: 150 %>
      <% else %>
        <%= image_tag("catprofile.jpeg", width: 150, height: 150) %>
      <% end %>
      <br>
      <p class= "p-2 text-muted">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
      </p>
    </div>
    <div>
      <h5 class="pt-4">ROYAL PODDLE</h5>
      <h6><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
       aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
     in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h6>
      <span class="badge badge-pill badge-warning">Painting</span>
      <span class="badge badge-pill badge-primary">Drawing</span>
    </div>
  </div>
</div>
