<div class="container">
  <%= @art.id %>
  <%= @art.name %>

  <% @art.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <%= link_to "Delete", art_path(@art), method: :delete %>
</div>
