.image-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
}

/* Sign Up Form */
.sign-up-form .image-container {
  background-image: url('form-img.jpg');
}

/* Login Form */
.login-form .image-container {
  background-image: url('login.jpg');
}

/* Form Buttons */

.form-actions button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 2px solid #333745;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  height: 50px;

}

.form-actions button:hover {
  color: #ffffff !important;
  background: #87FF65;
  border-color: #87FF65 !important;
  transition: all 0.4s ease 0s;
}
