.form-control:focus {
  border-color:rgba(0,0,0,0.1);
  box-shadow:0 0 0 0.2rem rgba(0, 0, 0, 0.1);
}

.image-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
}

/* Sign Up Form */
.sign-up-form .image-container {
  background-image: url('gerhard2.jpg');
}

/* Login Form */
.login-form .image-container {
  background-image: url('ink.jpeg');
}

/* Form Buttons */

.form-actions button {
  border-radius: 15px;
  transition: all 0.4s ease 0s;
  box-shadow:0 1px 20px rgba(0,0,0,0.1);
  border:none;

}

.form-actions button:hover {
  background: rgba(0,0,0,0.1);
}
